;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;          About AC-control-system.config          ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;                                                  ;
;         initialization and settings file         ;
;                                                  ;
; for air conditioning units of the DAIKIN company ;
;                   [UNOFFICIAL]                   ;


######################
###     DESIGN     ###

[BUTTONS_DESIGN]
button_size: 36
button_icon_size: 20
button_background-color: white
button_background-color_pressed: #5bc0de


#######################
###    HEADLINES    ###

[GROUP_TITLES]
mode: Betriebsart
wings: Lamellenstellung
temp: Temperatur
fan: Ventilatorstufe
hum: Feuchtigkeit


######################
###    SETTINGS    ###

[PATHS]
images: src/images/


[SETTINGS]
# initialization values
ACpower: 0
ACmode: 1
ACwings: 0
ACtemp: 22
ACfan: 0
AChum: 50

# settings
## "use_tooltips": ToolTips for mode, wings and fan
## Syntax: yes/no
use_tooltips: yes

## "show_temperature"
show_temperature: yes

## "show_wings"
show_wings: yes

## "show_humidity": yes to set humidity; only possible with device series: "Urura Sarara", "Stylish"
## Syntax: yes/no
show_humidity: yes


[POSITIONS]
# set size of Dialog
dialog_width: 600
dialog_height: 300

# set coordinates x/y for positioning
power_x: 500 
power_y: 20
mode_x: 20
mode_y: 50
wings_x: 300
wings_y: 50
fan_x: 20
fan_y: 150
temp_x: 300
temp_y: 150
hum_x: 450
hum_y: 150

#####################
###    AC-MODE    ###

# uncomment 5 for humidify option, only useful with device series: "Urura Sarara"

[MODE_IMAGE]
0 = AC_mode_automatic.png
1 = AC_mode_cooling.png
2 = AC_mode_dehumidify.png
3 = AC_mode_heating.png
4 = AC_mode_recirculation.png
#5 = AC_mode_humidify.png


[MODE_TEXT]
0 = Automatik
1 = Kühlbetrieb
2 = Entfeuchtung
3 = Heizbetrieb
4 = Umluftbetrieb
#5 = Befeuchtung


[MODE_VALUE]
0 = 1
1 = 3
2 = 2
3 = 4
4 = 6
#5 = 5



######################
###    AC-WINGS    ###

[WINGS_IMAGE]
0 = AC_wings-direction_vertical.png
1 = AC_wings-direction_horizontal.png
2 = AC_wings-direction_booth.png


[WINGS_TEXT]
0 = Vertikal
1 = Horizontal
2 = 3D


[WINGS_VALUE]
0 = 1
1 = 2
2 = 3



######################
###     AC-FAN     ###

[FAN_IMAGE]
0 = AC_fan_automatic.png
1 = AC_fan_silent.png
2 = AC_fan_lvl1.png
3 = AC_fan_lvl2.png
4 = AC_fan_lvl3.png
5 = AC_fan_lvl4.png
6 = AC_fan_lvl5.png


[FAN_TEXT]
0 = Automatik
1 = Flüstermodus
2 = Stufe 1
3 = Stufe 2
4 = Stufe 3
5 = Stufe 4
6 = Stufe 5


[FAN_VALUE]
0 = 1
1 = 2
2 = 3
3 = 4
4 = 5
5 = 6
6 = 7

